.grid {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 3rem;
    background: $color-secondary;
    padding: 2rem;
    border-radius: 1rem;
    
    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;
        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 11%;
            background-color: $color-primary;
        }
        &::before {
            left: 0;
            bottom: -2%;
            z-index: 2;
            border-bottom-left-radius: 80%;
            border-bottom-right-radius: 80%;
            border-top: 0;
        }
        &::after {
            left: 0;
            bottom: 8%;
            z-index: 0;
            border-top-left-radius: 150px;
            border-top-right-radius: 150px;
            border-bottom: 0;
        }

    }
}

@keyframes move {
    0%   {bottom: -100%;}
    40%  {bottom: 0}
    60%  {bottom: 0}
    100% {bottom: -100%;}
}

img {
    cursor: url('/assets/img/happy.png'), auto;	
    width: auto;
    height: 90%;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    user-select: none;
    animation-name: move;
    animation-duration: 1.3s;
}
  