body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-top: 1rem;
    background: $color-background;
}

h1 {
    color: $color-primary;
    position: fixed;
    left: 1rem;
    top: 1rem;
    line-height: 1;
    margin: 0;
}
#timer {
    font-size: 2rem;
    position: fixed;
    right: 1rem;
    top: 1rem;
    color: $color-primary;
}
.score {
    color: $color-primary;
    border: 1px solid $color-primary;
    padding: 0.5rem 1rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    & #score {
        font-size: 1.5rem;
    }

    &__points {
        margin-left: 0.25rem;
        font-size: 12px;
    }
}

button {
    margin: 0;
    color: white;
    background: $color-primary;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    appearance: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    border-radius: 5%;
    margin-bottom: 2rem;
}
