// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Colors
$color-primary: #930e00;
$color-secondary: #8a2600d1;
$color-background: #ffcab6;
$color-white: #fff;
